/* Définition de la couleur de fond et suppression des marges par défaut du body */
body {
    background-color: hsla(122, 100%, 50%, 0.5);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Styles pour le texte principal */
.bodytext {
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    max-width: 60%; /* Limite la largeur du conteneur à 80% de la largeur de l'écran */
}

/* Styles pour l'en-tête et la section des émoticônes */
.header, .wrapper-emoji {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrage vertical des éléments */
    max-width: 60%; /* Limite la largeur du conteneur à 80% de la largeur de l'écran */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    height: auto; /* Ajuste la hauteur automatiquement en fonction du contenu */
    margin-top: 10px; /* Ajout de la marge en haut pour réduire l'espace */
    width: 100%; /* Occupy the full width */
    text-align: center;
}

/* Styles pour les boutons */
.button {
    border: 5px black solid;
    display: inline-block;
    padding: 1em;
    border-radius: 15px;
    width: auto;
    margin: 10px;
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
}

/* Styles pour le titre */
.title {
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px; /* Ajout de la marge en bas pour réduire l'espace */

}

/* Styles pour les émoticônes */
.emoji {
    padding: 0.2em; /* Réduction de la valeur du padding pour réduire l'espace */
    margin: 3px; /* Réduction de la marge pour réduire l'espace */
    font-size: 60px;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
}

/* Effet de zoom au survol des émoticônes */
.emoji:hover {
    transform: scale(1.2, 1.2);
}

/* Styles spécifiques pour les tablettes (landscape) et les écrans plus grands */
@media (min-width: 768px) {
    .wrapper-emoji {
        flex-direction: row; /* Alignement horizontal des émoticônes sur tablette et écran plus grand */
    }
}

/* Styles spécifiques pour les écrans de petite taille (mobile) */
@media (max-width: 767px) {
    .emoji {
        font-size: 30px; /* Taille réduite pour les émoticônes sur mobile */
    }
}
