body {
    background-color: hsla(122, 100%, 50%, 0.5);
}

.bodytext {
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 50px;
    font-size: 30px;
}

.header, .wrapper-emoji {
    display: flex;
    justify-content: center;
}

.button {
    border: 5px white solid;
    display: inline;
    padding: 1em;
    border-radius: 15px;
    width: 75px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.title {
    font-family: 'Comfortaa', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    text-align: center;
    color: black;
}

.emoji {
    padding: 1em;
    width: 75px;
    margin: 10px;
    font-size: 100px;
    transition: transform 0.1s ease-in-out;
    transform-origin: center center;
}

.emoji:hover {
    transform: scale(1.5, 1.5);
}
